<footer class="footer">
        <hr class="lineLeft"><h2 class="footerTitle">LIENS UTILES</h2><hr class="lineRight">
        <span class="textLink textLinkLeft"><a href="#">A propos</a></span>
        <span class="textLink"><a href="#">Qui somme nous ?</a></span>
        <span class="textLink"><a href="#">F.A.Q</a></span>
        <span class="textLink down"><a href="#">CGU</a></span>
        <span class="textLink down"><a href="#">Contact</a></span>
        <span class="textLink down"><a href="#">Mentions Légales</a></span>
            <div class="footerLogo"><a href="/"><img src="{{ asset('assets/img/black_footer_logo.png') }}"></a></div>
            <div class="imgAppFooter"><img src="{{ asset('assets/img/app-store.jpg') }}"></div>
            <div class="imgAppFooter"><img src="{{ asset('assets/img/google-play.jpg') }}"></div>
        <hr class="lineFooter">
        <span class="textFollow"><a href="#"><img src="{{ asset('assets/img/facebook.png') }}" alt="facebook"></a></span>
        <span class="textFollow"><a href="#"><img src="{{ asset('assets/img/twitter.png') }}" alt="tweeter"></a></span>
        <p class="mention">Copyright 2016 &#169; SeeClop All Rights Reserved </p>
</footer>