{{ form_start(form) }}
    {{ form_label(form.brand) }}
    {{ form_errors(form.brand) }}
    {{ form_widget(form.brand) }}
    {{ form_row(form.shape) }}
    {{ form_row(form.leftcorrection) }}
    {{ form_row(form.rightcorrection) }}
    {{ form_row(form.glassdiameter) }}
    {{ form_row(form.glassbridge) }}
    {{ form_row(form.glassarm) }}
    {{ form_row(form.glasstype) }}
    {{ form_row(form.color) }}
<button type="submit">Put Your Item on Sale</button>
{{ form_end(form) }}