{% extends 'UserBundle:Base:homepage.html.twig' %}
{% block container %}
    <section class="sellSection">
        {{ form_start(form) }}
        <div class="sell-block">
            <span class="textSell">{{ form_label(form.brand) }}</span>
            {{ form_errors(form.brand) }}
            {{ form_widget(form.brand, {'attr' : {'class' : 'fieldSellBrand'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.sex) }}</span>
            {{ form_errors(form.sex) }}
            {{ form_widget(form.sex, {'attr' : {'class' : 'sellSex'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.shape) }}</span>
            {{ form_errors(form.shape) }}
            {{ form_widget(form.shape, {'attr' : {'class' : 'sellShape'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.leftcorrection) }}</span>
            {{ form_errors(form.leftcorrection) }}
            {{ form_widget(form.leftcorrection, {'attr' : {'class' : 'sellLeftCorrection'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.rightcorrection) }}</span>
            {{ form_errors(form.rightcorrection) }}
            {{ form_widget(form.rightcorrection, {'attr' : {'class' : 'sellRightCorrection'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.glassdiameter) }}</span>
            {{ form_errors(form.glassdiameter) }}
            {{ form_widget(form.glassdiameter, {'attr' : {'class' : 'sellGlassDiameter'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.glassbridge) }}</span>
            {{ form_errors(form.glassbridge) }}
            {{ form_widget(form.glassbridge, {'attr' : {'class' : 'sellGlassBridge'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.glassarm) }}</span>
            {{ form_errors(form.glassarm) }}
            {{ form_widget(form.glassarm, {'attr' : {'class' : 'sellGlassArm'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.glasstype) }}</span>
            {{ form_errors(form.glasstype) }}
            {{ form_widget(form.glasstype, {'attr' : {'class' : 'sellGlassType'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.color) }}</span>
            {{ form_errors(form.color) }}
            {{ form_widget(form.color, {'attr' : {'class' : 'sellColor'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSell">{{ form_label(form.price) }}</span>
            {{ form_errors(form.price) }}
            {{ form_widget(form.price, {'attr' : {'class' : 'sellPrice'}}) }}
        </div>

        <div class="sell-block">
            <span class="textSellImg">{{ form_label(form.firstImageFile) }}</span>
            {{ form_errors(form.firstImageFile) }}
            {{ form_widget(form.firstImageFile, {'attr' : {'class' : 'sellImageFile'}}) }}
            <span class="textSellImg">{{ form_label(form.secondImageFile) }}</span>
            {{ form_errors(form.secondImageFile) }}
            {{ form_widget(form.secondImageFile, {'attr' : {'class' : 'sellImageFile'}}) }}
            <span class="textSellImg">{{ form_label(form.thirdImageFile) }}</span>
            {{ form_errors(form.thirdImageFile) }}
            {{ form_widget(form.thirdImageFile, {'attr' : {'class' : 'sellImageFile'}}) }}
        </div>
        <input type="submit" value="PUBLIER" class="sellSubmit">
        {{ form_end(form) }}
    </section>
{% endblock %}