{% extends 'UserBundle:Base:homepage.html.twig' %}

{% block container %}
    <section class="sectionEditProfile">
        {{ form_start(form) }}
        <span class="textEditProfile">{{ form_label(form.imageFile) }}</span>
        {{ form_errors(form.imageFile) }}
        {{ form_widget(form.imageFile, { 'attr': {'class': 'editFileImage'} }) }}
        <span class="textEditProfile">{{ form_label(form.lastname) }}</span>
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname, { 'attr': {'class': 'editLastname'} }) }}
        <span class="textEditProfile">{{ form_label(form.firstname) }}</span>
        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname, { 'attr': {'class': 'editFirstname'} }) }}
        <span class="textEditProfile">{{ form_label(form.email) }}</span>
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class': 'editEditEmail'} }) }}
        <span class="textEditProfile">{{ form_label(form.plainPassword.first) }}</span>
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'editPasswordFirst'} }) }}
        <span class="textEditProfile">{{ form_label(form.plainPassword.second) }}</span>
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'editPasswordSecond'} }) }}
        <input class="editSubmit" type="submit" value="Valider">
        {{ form_end(form) }}
    </section>
{% endblock %}