<h1>Profil de {{ profile.username }}</h1>

Nom: {{ profile.lastname }} <br>
Prénom: {{ profile.firstname }} <br>
Email: {{ profile.email }} <br>
<img width="200px" src="/assets/images/profile/{{ profile.imageName }}">

{{ form_start(commentForm) }}
{{ form_end(commentForm) }}

<h4>Commentaires:</h4>

Rating: {{ userComment.rating }}
{{ userComment.review }}
Posted By {{ userComment.user.username }}


