<h1>Profil de {{ profile.username }}</h1>

Nom: {{ profile.lastname }} <br>
Prénom: {{ profile.firstname }} <br>
Email: {{ profile.email }} <br>
<img width="200px" src="/assets/images/profile/{{ profile.imageName }}">

