{% extends 'UserBundle:Base:homepage.html.twig' %}
{% block container %}
    <section class="sectionViewArticle">
        <h2 class="titleArticleBrand">{{ article.brand }}</h2>
        <div class="articleSex">Pour : {{ article.sex }}</div>
        <div class="articleShape">Forme : {{ article.shape }}</div>
        <div class="articleLeftCorrection">Correction Oeil Gauche : {{ article.leftcorrection }}</div>
        <div class="articleRightCorrection">Correction Oeil Droit : {{ article.rightcorrection }}</div>
        <div class="articleGlassType">Type de Verre : {{ article.glasstype }}</div>
        <div class="articleColor">Couleur : {{ article.color }}</div>
        <h2 class="titleDimentions">Les Dimensions :</h2>
        <div class="articleGlassDiameter">Diamètre du Verre : {{ article.glassdiameter }}</div>
        <div class="articleGlassBridge">Pont des lunettes : {{ article.glassbridge }}</div>
        <div class="articleGlassArm">Tailles des branches : {{ article.glassarm }}</div>
        <div class="articlePrice">Prix : {{ article.price }}</div>
        <div class="articleUser">Offre par : <a
                    href="/profile/show/{{ article.user.username|lower }}">{{ article.user.username|upper }}</a></div>
        <span class="pic">Photos:</span>
        <div class="articleImg"><img width="200px" src="/assets/images/glasses/{{ article.firstImageName }}"></div>
        <div class="articleImg"><img width="200px" src="/assets/images/glasses/{{ article.secondImageName }}"></div>
        <div class="articleImg"><img width="200px" src="/assets/images/glasses/{{ article.thirdImageName }}"></div>


        <div class="basket"><a href="/shopping_cart/add/{{ article.id }}">Ajouter au Panier</a></div>
    </section>
{% endblock %}