{% extends 'UserBundle:Base:homepage.html.twig' %}
{% block container %}
<section class="sectionSearch">
        {{ form_start(searchForm) }}
        <span class="textSearch">{{ form_label(searchForm.brand) }}</span>
        {{ form_errors(searchForm.brand) }}
        {{ form_widget(searchForm.brand, { 'attr': {'class': 'fieldBrand'} }) }}
        <span class="textSearch">{{ form_label(searchForm.leftcorrection) }}</span>
        {{ form_errors(searchForm.leftcorrection) }}
        {{ form_widget(searchForm.leftcorrection, { 'attr': {'class': 'fiedlLeftCorrection'} }) }}
        <span class="textSearch">{{ form_label(searchForm.rightcorrection) }}</span>
        {{ form_errors(searchForm.rightcorrection) }}
        {{ form_widget(searchForm.rightcorrection, { 'attr': {'class': 'fieldRightCorrection'} }) }}
        <span class="textSearch">{{ form_label(searchForm.glasstype) }}</span>
        {{ form_errors(searchForm.glasstype) }}
        {{ form_widget(searchForm.glasstype, { 'attr': {'class': 'fieldGlassType'} }) }}
        <span class="textSearch">{{ form_label(searchForm.sex) }}</span>
        {{ form_errors(searchForm.sex) }}
        {{ form_widget(searchForm.sex, { 'attr': {'class': 'fieldSex'} }) }}
        <span class="textSearch">{{ form_label(searchForm.color) }}</span>
        {{ form_errors(searchForm.color) }}
        {{ form_widget(searchForm.color, { 'attr': {'class': 'fieldColor'} }) }}
        <span class="textSearch">{{ form_label(searchForm.minPrice) }}</span>
        {{ form_errors(searchForm.minPrice) }}
        {{ form_widget(searchForm.minPrice, { 'attr': {'class': 'fieldMinPrice'} }) }}
        <span class="textSearch">{{ form_label(searchForm.maxPrice) }}</span>
        {{ form_errors(searchForm.maxPrice) }}
        {{ form_widget(searchForm.maxPrice, { 'attr': {'class': 'fieldMaxPrice'} }) }}
        <span class="textSearch">{{ form_label(searchForm.shape) }}</span>
        {{ form_errors(searchForm.shape) }}
        {{ form_widget(searchForm.shape, { 'attr': {'class': 'fieldShape'} }) }}
        <input type="submit" value="Chercher" class="searchSubmit">
</section>
<section class="sectionResult">
        {% for item in articles %}
            <hr class="resultatLineLeft"><h2 class="titleResult">Résulat</h2><hr class="resultatLineRight">
            <div class="blockBrand">{{ item.brand }}</div>
            <div class="blockSex">Pour : {{ item.sex }}</div>
            <div class="blockShape">Forme : {{ item.shape }}</div>
            <div class="blockLeftCorrection">Correction Oeil Gauche : {{ item.leftcorrection }}</div>
            <div class="blockRightCorrection">Correction Oeil Droit : <span>{{ item.rightcorrection }}</div>
            <div class="blockPrice">Prix : {{ item.price }}</div>
            <div class="blockViewProduct"><img width="200px" src="/assets/images/glasses/{{ item.firstImageName }}">
            </div>
            <div class="blockVendor">Offre par : <a
                        href="profile/show/{{ item.user.username }}">{{ item.user.username|upper }}</a></div>

            <div class="blockLinkArticle"><a href="articles/{{ item.id }}">Voir Offre en détail</a></div>
        {% endfor %}
</section>
{% endblock %}