{% extends 'UserBundle:Base:homepage.html.twig' %}

{% block container %}

<section class="first second third">
    <div class="blockArticle">
        <h1 class="title">SeeClop</h1>
        <img src="{{ asset('assets/img/img-first-article.jpg') }}">
        <p class="text">Chez nous acheté plus qu'une<br>
            demi lunette
        </p>
    </div>
</section>
<section>
    <div class="selectProduct">
        <hr><h2 class="titleSelect">Nôtre séléction</h2><hr>
        <div class="select left">
            <div class="selectImg"><a href="#"><img src="{{ asset('assets/img/chanel7.jpg') }}"></a></div>
            <div class="selectProfilImg"><a href="/profile/show/{username}"><img src="{{ asset('assets/img/pic_profil.jpg') }}"></a></div>
            <div class="selectPseudo">FREDO</div>
            <div class="selectPrice">135 €</div>
            <div class="selectBrand">Pierre Gardin</div>
        </div>
        <div class="select right">
            <div class="selectImg"><a href="#"><img src="{{ asset('assets/img/chanel7.jpg') }}"></a></div>
            <div class="selectProfilImg"><a href="/profile/show/{username}"><img src="{{ asset('assets/img/pic_profil.jpg') }}"></a></div>
            <div class="selectPseudo">FREDO</div>
            <div class="selectPrice">135 €</div>
            <div class="selectBrand">Pierre Gardin</div>
        </div>
    </div>
</section>
<section>
    <div class="newProduct">

    </div>
</section>
<section class="first second third">
    <p class="secondText">Trouver la paire de lunette de vos rêve<br>
        des maintenant
    </p>
    <div class="imgGlass optical"><img src="{{ asset('assets/img/optique-img.jpg') }}">
        <div class="textGlass">OPTIQUE</div>
    </div>
    <div class="imgGlass sunGlass"><img src="{{ asset('assets/img/solaire-img.jpg') }}">
        <div class="textGlass">SOLAIRE</div>
    </div>
    <div class="imgGlass sunOpticalGlass"><img src="{{ asset('assets/img/solaire-optique-img.jpg') }}">
        <div class="textGlass sun">OPTIQUE SOLAIRE</div>
    </div>
    <div class="imgGlass fantasy"><img src="{{ asset('assets/img/fantaisie-img.jpg') }}">
        <div class="textGlass">FANTAISIE</div>
    </div>
</section>
<section class="first second third">
    <p class="thirdText">N'hésité pas à télécharger l'application<br>
        afin de rester informé des derniers<br>
        sorties et des nouveautés.
    </p>
    <div class="imgApp"><img src="{{ asset('assets/img/app-store.jpg') }}"></div>
    <div class="imgApp"><img src="{{ asset('assets/img/google-play.jpg') }}"></div>
</section>

{% endblock %}




