{% extends 'UserBundle:Base:homepage.html.twig' %}

{% block container %}
<div class="blockArticle">
    <h1 class="title">SeeClop</h1>
    <div class="desktopImg">
        <img src="{{ asset('assets/img/home_img.jpg') }}">
    </div>
    <div class="mobileImg">
        <img src="{{ asset('assets/img/img-first-article.jpg') }}">
    </div>
    <p class="text">Chez nous acheter plus qu'une demi paire de lunette
    </p>
</div>

<section class="sectionSelect">
    <div class="selectProduct">
        <hr class="titleLineLeft"><h2 class="titleSelect">Nôtre séléction</h2><hr class="titleLineRight">
        <div class="select left">
            <div class="selectImg"><a href="#"><img src="{{ asset('assets/img/chanel7.jpg') }}"></a></div>
            <div class="selectBrand">Pierre Gardin</div>
            <hr class="lineSection">
            <div class="selectPrice">135 €</div>
        </div>
        <div class="select right">
            <div class="selectImg"><a href="#"><img src="{{ asset('assets/img/chanel7.jpg') }}"></a></div>
            <div class="selectBrand">Pierre Gardin</div>
            <hr class="lineSection">
            <div class="selectPrice">135 €</div>
        </div>
    </div>
</section>
<section class="sectionNew">
    <div class="newProduct">
        <hr class="titleLineLeft"><h2 class="titleSelect">Les nouveautés</h2><hr class="titleLineRight">
        <div class="select left">
            <div class="selectImg"><a href="#"><img src="{{ asset('assets/img/chanel7.jpg') }}"></a></div>
            <div class="selectBrand">Pierre Gardin</div>
            <hr class="lineSection">
            <div class="selectPrice">135 €</div>
        </div>
        <div class="select right">
            <div class="selectImg"><a href="#"><img src="{{ asset('assets/img/chanel7.jpg') }}"></a></div>
            <div class="selectBrand">Pierre Gardin</div>
            <hr class="lineSection">
            <div class="selectPrice">135 €</div>
        </div>
    </div>
</section>
<section class="sectionGlass">
    <p class="secondText">Trouver la paire de lunette de vos rêve des maintenant
    </p>
    <div class="imgGlass optical"><img src="{{ asset('assets/img/optique-img.jpg') }}">
        <div class="textGlass">OPTIQUE</div>
    </div>
    <div class="imgGlass sunGlass"><img src="{{ asset('assets/img/solaire-img.jpg') }}">
        <div class="textGlass">SOLAIRE</div>
    </div>
    <div class="imgGlass sunOpticalGlass"><img src="{{ asset('assets/img/solaire-optique-img.jpg') }}">
        <div class="textGlass sun">OPTIQUE SOLAIRE</div>
    </div>
    <div class="imgGlass fantasy"><img src="{{ asset('assets/img/fantaisie-img.jpg') }}">
        <div class="textGlass">FANTAISIE</div>
    </div>
</section>
<section class="sectionApp">
    <p class="thirdText">N'hésité pas à télécharger l'application<br>
        afin de rester informé des dernières<br>
        sorties et des nouveautés.
    </p>
    <div class="imgApp"><img src="{{ asset('assets/img/app-store.jpg') }}"></div>
    <div class="imgApp"><img src="{{ asset('assets/img/google-play.jpg') }}"></div>
</section>



{% endblock %}




